librosa>=0.10.2
matplotlib>=3.10.0
pandas>=2.2.3
Pillow>=11.1.0
pydub>=0.25.1
pymannkendall>=1.4.3
PyYAML>=6.0.2
quapy>=0.1.9
resampy>=0.4.3
scikit_learn>=1.6.1
scipy>=1.15.1
seaborn>=0.13.2
setuptools>=75.1.0
soundcard>=0.4.3
soundfile>=0.13.0
termcolor>=2.5.0
torch>=2.5.1
torchaudio>=2.5.1
torchinfo>=1.8.0
torchviz>=0.0.3
tqdm>=4.67.1
ultralytics>=8.3.67
tensorboard>=2.18.0
av>=14.0.1
h5py>=3.12.1